@use "sass:color";
@use "variables" as v;

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .title,
  .subtitle {
    margin-bottom: 20px;
    font-size: v.$title-font-size;
    font-weight: 400;
    font-family: v.$primary-font-family;
    color: v.$font-color;
  }

  .subtitle {
    font-size: v.$subtitle-font-size;
    margin-bottom: 40px;
  }

  .calculator {
    min-width: 350px;
    background-color: v.$bg-color;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

    .output {
      width: 100%;
      padding: 4px 4px 0 4px;
      font-family: v.$secondary-font-family;

      .equation-panel,
      .result-panel,
      .error-panel {
        width: 100%;
        color: #fff;
        text-align: right;
        border-radius: 6px;
        margin-bottom: 3px;
      }

      .equation-panel {
        background-color: v.$midnight-blue;
        position: relative;
        height: 30px;
        line-height: 30px;
        font-size: v.$equation-panel-font-size;
        letter-spacing: 1.3px;
        padding-right: 3px;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: v.$scrollbar-bg;
          border-radius: 5px;
          border: 1px solid v.$scrollbar-border;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgb(240 240 240);
        }
      }

      .result-panel {
        background-color: v.$midnight-blue;
        height: 50px;
        line-height: 50px;
        font-size: v.$result-panel-font-size;
        letter-spacing: 1.4px;
        padding-right: 3px;
      }

      .error-panel {
        height: 20px;
        line-height: 17px;
        font-size: v.$error-panel-font-size;
        letter-spacing: 1.2px;
        text-align: center;
        background-color: v.$bg-color;
        color: #000;
        border: 1px solid v.$border-color;
      }
    }

    .input {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 3px 3px;
      font-family: monospace;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin: 1px;
        border: 1px solid v.$border-color;
        border-radius: 6px;
        box-shadow: 1px 1px v.$bg-color;
        cursor: pointer;
        transition: 0.4s;

        &.btn-number,
        &.btn-plus-minus,
        &.btn-coma {
          background-color: color.adjust(v.$light-gray, $lightness: 15%);

          &:hover {
            background-color: v.$hover-light-gray;
          }
        }

        &.btn-fn {
          font-weight: 900;
          background-color: color.adjust(v.$light-gray, $lightness: 5%);

          &:hover {
            background-color: color.adjust(v.$light-gray, $lightness: 10%);
          }
        }
      }
    }
  }
}
